* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

header {
  display: flex;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  flex: 0 0 69px;
  z-index: 2;
  background-color: black;
}

header img {
  max-height: 50px;
  padding-left: 10px;
  margin-right: auto;
}

header a {
  color: white;
  padding-right: 20px;
}

.top {
  position: relative;
  top: 69px;
  background-image: url('img-mission-background.jpg');
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 700px;
}

.toptext {
  background-color: black;
  text-align: center;
  /* width: 1200px; */
}

h2,
h4 {
  padding: 10px 0px;
}

main {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

footer {
  position: relative;
  top: 69px;
}
